    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" type="text/css" href="https://alirobe.github.io/get-spsite/gh-pages-dark/stylesheet/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="https://alirobe.github.io/get-spsite/gh-pages-dark/stylesheet/github-dark.css" media="screen">
    <!-- this doesnt seem to exist: <link rel="stylesheet" type="text/css" href="gh-pages-dark/stylesheets/print.css" media="print"> -->

    <title>get-spsite by @alirobe</title>