<meta charset='utf-8'>
<title>{{ site.title }} - {{ site.description }}</title>
<meta http-equiv="X-UA-Compatible" content="edge=1">
<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
<meta property="og:site_name" content="SharePoint Resources @ ali.id.au">
<meta property="og:description" content="A collection of community resources for office 365, microsoft 365 & sharepoint">
<meta property="og:url" content="https://www.ali.id.au/sharepoint-resources">
<meta property="og:title" content="Ali Robertson  | SharePoint Resources | community resources for SharePoint + Microsoft 365">
<meta property="og:type" content="website">
