<header>
  <div class="container">
  <h1><a href="{{"/index.html" | prepend: site.baseurl }}">{{ site.title }}</a></h1>
  <h2>{{ site.description }}</h2>
    <section id="downloads">
      <a href="https://github.com/alirobe/get-spsite/zipball/master" class="btn">Download as .zip</a>
      <a href="https://github.com/alirobe/get-spsite/tarball/master" class="btn">Download as .tar.gz</a>
      <a href="https://github.com/alirobe/get-spsite" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
    </section>
  </div>
</header> 